<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>template: page 1</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <!-- **** layout stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="style/style.css" />

  <!-- **** colour scheme stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="style/colour.css" />

</head>

<body>
  <div id="main">
    <div id="logo"><h1>ENCUENTRA TU HOTEL EN MADRID</h1></div>
    <div class="loggin">
      {% if request.user.is_authenticated %}
            <form action="/logout" method="post" style="position:relative; left:2%; bottom:1%;">{% csrf_token %}
              <h2><label for="username">{{request.user.username}}</label></h2><br/>
              <input type="submit" value="Salir" style="width:100px; background-color: #000099;
                border: 1px solid #CC9900;
                border-radius: 5px;
                box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
                color: #FFFFFF
                font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
                padding: 12px 0px 14px;
                text-align: center;
                text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
                width: 50px;"/>
            </form>
      {% else %}
        <form action="/login" method="POST" style="position:relative; left:2%; bottom:1%;">{% csrf_token %}
            <label for="username">Nombre:</label>
            <input type="text" name="username" value="" id="username" style="width:100px; height:20px;
              border-width:1px; border-style:solid; border-color:black">
            <label for ="password">Contraseña:</label>
            <input type="password" name="password" value="" id="password" style="width:100px; height:20px;
              border-width:1px; border-style:solid; border-color:black">
            <input type="submit" value="Iniciar" style="width:100px; background-color: #000099;
              border: 1px solid #000099;
              border-radius: 5px;
              box-shadow: 0px 0px 0px 1px rgba(0, 0, 100, 0.4) inset, 0px 1px 3px #333;
              color: #FFFFFF;
              font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
              padding: 12px 0px 14px;
              text-align: center;
              text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.8);
              width: 100px;"/>

        </form>
      {% endif %}
      </div>
      <div id="content">
        <div id="menu">
          <ul>

            <!-- MAIN MENU: Top horizontal menu of the site.  Use class="here" to turn the current page tab on -->
            <div id="mainMenu">
              <ul class="floatRight">
                <li><a href="/" title="Pagina principal del sitio" class="here">Inicio</a></li>
                <li><a href="/alojamientos" title="Todos los hoteles disponibles">Todos</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="/pag4.html" title="Pagina del usuario">Mi pagina</a></li>
                {% endif %}
                <li><a href="/page2.html" title="Sobre nosotros...">About</a></li>
              </ul>
            </div>

          </ul>
        </div>
      <div id="column2">
  <h1>ELIGE TU HOTEL </h1></br>
  <form action="/filter" method="POST" style="position:relative;">{% csrf_token %}
  <select id="categoria" name="categoria">
    <option value="todos" selected="selected">- select -</option>
    <option value="Hoteles">Hoteles</option>
    <option value="Apartahoteles">Apartahoteles</option>
    <option value="Hostales">Hostales</option>
    <option value="Albergues">Albergues</option>
    <option value="Residencias universitarias">Residencias Universitarias</option>
    <option value="Camping">Camping</option>
    <option value="Pensiones">Pensiones</option>
  </select>
  <select id="estrellas" name="estrellas">
    <option value="todos" selected="selected">- select -</option>
    <!--<optgroup label="Estrellas"> -->
      <option value="1 estrella">1 Estrella</option>
      <option value="2 estrellas">2 Estrellas</option>
      <option value="3 estrellas">3 Estrellas</option>
      <option value="4 estrellas">4 Estrellas</option>
      <option value="5 estrellas">5 Estrellas</option>
      <option value="5 estrellas Gran Lujo">5 Estrellas Gran Lujo</option>
  <!--  </optgroup>-->
  <!--  <optgroup label="Llaves">-->
      <option value="1 llave" >1 Llave</option>
      <option value="2 llaves">2 Llaves</option>
      <option value="3 llaves">3 Llaves</option>
      <option value="4 llaves">4 Llaves</option>
  <!--  </optgroup>-->
  </select>
  <input type="submit" value="Choose" style="background-color: #006666;
    border: 1px solid #003333;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(255, 115, 100, 0.4) inset, 0px 1px 3px #333;
    color: #FFF;
    font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 12px 0px 14px;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
    width: 150px;"/>
</form></br>
<h1>LISTA DE ALOJAMIENTOS DISPONIBLES </h1></br>
<ul class = "indexlist">
{% if todos == empty %}
  {% for alojamiento in alojamientos %}
    <div class="10alojamientosCom">
        <item>
          <div class="alojamiento" style="width:800px;">
            <a href="{{alojamiento.url}}"><h2>{{alojamiento.nombre|striptags|safe}}</h2></a>
            <p><strong>Donde esta:  </strong>{{alojamiento.direccion|striptags|safe}}</p>
          </div>
          <blockquote class="go">
            <a href="/alojamientos/{{alojamiento.id}}"><strong>Visita la pagina de este alojamiento</strong></a>
          </blockquote>
        </item>
      </br><hr class="separator" style="width:800px;">
  </div>
  {% endfor %}
{% else %}
  {% for alojamiento in todos %}
    <div class="10alojamientosCom">
        <item>
          <div class="alojamiento" style="width:800px;">
            <a href="{{alojamiento.url}}"><h2>{{alojamiento.nombre|striptags|safe}}</h2></a>
            <p><strong>Donde esta:  </strong>{{alojamiento.direccion|striptags|safe}}</p>
          </div>
          <blockquote class="go">
            <a href="/alojamientos/{{alojamiento.id}}"><strong>Visita la pagina de este alojamiento</strong></a>
          </blockquote>
        </item>
      </br><hr class="separator" style="width:800px;">
  </div>
  {% empty %}
    <p> No hay alojamientos que coincidan con tu busqueda </p>
  {% endfor %}
{% endif %}


  </ul>
</div>
      </div>
    </div>
    <div id="footer">
          "Esta aplicacion utiliza datos del portal de datos abiertos de la ciudad de Madrid"
    </div>
  </div>
</body>
</html>
